/* BASIC TYPEWRITER */
#basic-typewriter {
  font-weight: 500;
  /* font-size: 2rem; */
}

/* CUSTOM TYPEWRITER WITH BOLD, COLOR, AND HIGHLIGHT */
.custom-typewriter-text {
  color: rgb(46, 46, 206);
}

#custom-typewriter {
  font-weight: 500;
  /* font-size: 2rem; */
}

/* CUSTOM TYPEWRITER WITH CUSTOM COLOR CURSOR */
.custom-cursor-typewriter:after {
  border-right: 4px solid rgb(99, 238, 99);
}

.custom-cursor-typewriter {
  font-weight: 500;
  /* font-size: 2rem; */
}

/* TYPEWRITER WITH INFINITE LOOPING EFFECT */
.use-typewriter-cursor {
  font-weight: 500;
  /* font-size: 2rem; */
}
