.footer {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 2rem 1.5rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-page-footer {
  border-top: 1px solid #eaeaea;
}
.home-page-content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.app-name {
  font-family: "PT Mono", monospace;
  font-size: 2rem;
  display: block;
  text-align: center;
}

.documentation-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  background-color: #0070f3;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  color: white;
  font-size: 16px;
  border: none;
  font-weight: 300;
}
.documentation-button:hover {
  background-color: #3291ff;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.documentation-button:active {
  background-color: #0761d1;
}

/*  DOCUMENTATION PAGE  */
header {
  font-size: 1.8em;
}
#documentation-page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#documentation-page-header:after {
  border-right: 4px solid #212f3c;
  height: 2ch;
  align-self: center;
}
.app-name-header-second-word {
  color: #3291ff;
}
/* DOCUMENTATION PAGE UPPER NAV */
.documentation-page-upper-nav {
  font-weight: 800;
  font-size: 1.4rem;
}
/* DOCUMENTATION NAV BAR */
.navbar {
  top: 0;
  align-self: flex-start;
  position: sticky;
  flex: 1;
  min-width: 350px;
}
.navbar li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 100%;
}
.navbar-menu {
  padding-left: 2rem;
  padding-right: 2rem;
}

.chapter-pointer {
  color: #0070f3;
}
/* @media only screen and (max-width: 600px) {
  .navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 2;
    border-bottom: 2px solid red;
  }
} */

/* @media only screen and (max-width: 815px) {
  .navbar ul {
    border: 1px solid;
    height: 207px;
  }
} */
.nav-link:hover {
  font-weight: 400;
}
.nav-link:active {
  font-weight: 400;
  color: rgb(10, 99, 151);
}
.nav-sub-link:hover {
  font-weight: 400;
}
.navbar a {
  display: block;
  color: #4d4e53;
  padding: 1em 2em 1em 2em;
  font-weight: 300;
  font-size: 20px;
  white-space: nowrap;
}

/* DOCUMENTATION CONTENT */
.documentation-page-content-wrapper {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1rem;
}
/* Main Doc */
.main-doc {
  flex: 3;
  border: solid 1px rgba(156, 155, 155, 0.74);
  border-radius: 8px;
  padding: 2rem 2.5rem 0 2.5rem;
  background-color: white;
  box-shadow: 0 0 20px rgb(156, 155, 155);
}

/* Sections */
section {
  display: block;
  margin-bottom: 3rem;
}

/* Articles */
article p {
  line-height: 3.5ch;
  font-size: 18px;
}

section article {
  font-size: 17px;
  padding-left: 13px;
}

/* Headers */
.main-doc header {
  text-align: left;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
}

.documentation-page-header-1 {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.documentation-page-header-2 {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}
.documentation-page-header-3 {
  background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}
.documentation-page-header-4 {
  background: linear-gradient(135deg, #fad1ff 10%, #3c81f0 100%);
}
.documentation-page-header-5 {
  background: linear-gradient(135deg, #62e0c1 0%, #d5df4a 100%);
}

/* @media only screen and (max-width: 1420px) {
 
  .main-doc {
    padding-right: 3.4rem;
    width: 1050px;
  }
}
@media only screen and (min-width: 1420px) {
  .documentation-page-content-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
  .main-doc {
    padding-right: 4%;
  }
} */

/* DOCUMENTATION PAGE TABLE */
table {
  border: none;
  border-spacing: 0px;
  box-shadow: 0 0 20px rgba(156, 155, 155, 0.582);
  border-collapse: separate !important;
  border-radius: 10px;
  margin-top: 1.5rem;
  table-layout: fixed;
}
.methods-table {
  max-width: fit-content;
}
.options-table {
  max-width: fit-content;
}
th {
  border-bottom: solid 1px rgb(140, 145, 150);
  padding: 10px 10px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.1rem;
  text-transform: uppercase;
  color: #5d6d7e;
}
.first-column {
  padding-left: 20px;
  padding-right: 18px;
}
.second-column {
  padding-left: 20px;
  padding-right: 20px;
}
.third-column {
  padding-left: 20px;
  padding-right: 20px;
}
.fourth-column {
  padding-left: 20px;
  padding-right: 20px;
}
td {
  font-size: 16px;
  color: #566573;
  padding-top: 20px;
  padding-bottom: 22px;
  border-bottom: solid 1px #f0f3f4;
  white-space: normal;
  font-weight: 300;
}
th {
  padding: 1rem 1rem;
}
thead {
  background: #f4f6f7;
  border-bottom: solid 2px #ecf0f1;
}
thead th:first-child {
  border-radius: 10px 0px 0px 0px;
}
thead th:last-child {
  border-radius: 0px 10px 0px 0px;
}

/* DOCUMENTATION PAGE INSTALLATION CODE */
.installation-pre {
  font-size: 16px;
  background-color: rgba(214, 213, 213, 0.295);
  border-radius: 6px;
  line-height: 1.4;
  padding: 15px;
  margin: 10px;
  max-width: 1100px;
  min-width: 400px;
  font-family: Andale Mono, AndaleMono, Lucida Console, monospace;
}
/* DOCUMENTATION PAGE EXAMPLES */
.example-typewriter-wrapper {
  border: solid 1px rgba(184, 188, 192, 0.575);
  box-shadow: 0 0 20px rgba(156, 155, 155, 0.322);
  padding: 1rem;
  border-radius: 10px;
  min-height: max-content;
}
.example-typewriter-code-snippet-wrapper {
  background-color: rgb(0, 0, 0);
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: 0.6rem;
  margin-top: 1rem;
}
.example-typewriter-code-snippet {
  font-size: 15px;
  line-height: 24px;
}
.code-snippet-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.code-snippet-button {
  background: #5bf1cc;
  box-shadow: 0 0 5px #62e0c1;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  font-size: 14px;
  color: black;
  border: none;
}
#view-code-button {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-right: solid 1px rgb(0, 0, 0);
  margin-left: 1rem;
}
#view-code-button:hover {
  background-color: #45b39d;
  transform: scale(1.04);
}
#view-code-button:focus {
  background-color: #45b39d;
}
#view-css-button {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-left: solid 1px rgb(0, 0, 0);
}
#view-css-button:hover {
  background-color: #45b39d;
  transform: scale(1.04);
}
#view-css-button:focus {
  background-color: #45b39d;
}
#copy-code-button {
  border-radius: 4px;
  transition: all 200ms ease 0s;
  margin-right: 1rem;
}
#copy-code-button:hover {
  transform: scale(1.04);
}
#copy-code-button:active {
  background-color: rgb(33, 187, 148);
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  /* transition: background 0.1s ease, color 0.1s ease; */
}

/* CUSTOM TYPEWRITER WITH BOLD, COLOR, AND HIGHLIGHT */
.custom-typewriter-text {
  color: rgb(46, 46, 206);
}

/* CUSTOM TYPEWRITER WITH CUSTOM COLOR CURSOR */
#custom-cursor-typewriter:after {
  border-right: 4px solid rgb(99, 238, 99);
}

.documentation-example-single-wrapper {
  margin-bottom: 3rem;
}
