.footer {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-top: 1px solid #eaeaea;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  font-family: "PT Mono", monospace;
  font-size: 2rem;
  display: block;
  text-align: center;
  margin-top: 30%;
}

.documentation-button {
  margin-bottom: 30%;
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  background-color: #0070f3;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  color: white;
  font-size: 16px;
  border: none;
  margin-left: 42%;
  font-weight: 300;
}
.documentation-button:hover {
  background-color: #3291ff;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.documentation-button:active {
  background-color: #0761d1;
}

/*  DOCUMENTATION PAGE  */
header {
  color: #212f3c;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
}
/* DOCUMENTATION PAGE UPPER NAV */
.documentation-page-upper-nav {
  border-bottom: solid 1px rgb(156, 155, 155);
  padding: 0.5rem 0;
  text-align: center;
  z-index: 1;
  font-weight: 800;
  font-size: 1.4rem;
}
/* DOCUMENTATION NAV BAR */
.navbar {
  min-width: 20%;
  min-height: 100%;
  border-right: solid 1px;
  border-color: rgba(156, 155, 155, 0.74);
  z-index: 2;
  font-size: 18px;
  background-color: #f4f6f7;
}
.navbar li {
  list-style: none;
  position: relative;
  width: 100%;
}
.navbar ul {
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 2;
    border-bottom: 2px solid red;
  }
}

@media only screen and (max-width: 815px) {
  .navbar ul {
    border: 1px solid;
    height: 207px;
  }
}
.nav-link:hover {
  font-weight: 400;
}
.nav-link:active {
  font-weight: 400;
  color: rgb(10, 99, 151);
}

.navbar a {
  display: block;
  color: #4d4e53;
  padding: 1em 2em 1em 2em;
  font-weight: 300;
  font-size: 20px;
  white-space: nowrap;
}

/* DOCUMENTATION CONTENT */

article p {
  line-height: 3.5ch;
  font-size: 18px;
}

.main-doc {
  padding-left: 2rem;
  padding-top: 1.7rem;
  max-width: fit-content;
  min-width: 10rem;
}

@media only screen and (max-width: 815px) {
  .main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

section {
  display: block;
  margin-bottom: 6%;
}

.main-doc header {
  text-align: left;
  margin: 0px;
  font-weight: 700;
  margin-left: 2%;
}

section article {
  font-size: 17px;
  max-width: 95%;
  margin-left: 2%;
}
section li {
  margin: 15px 0px 0px 20px;
}

/* TABLE */
table {
  display: block;
  border: none;
  border-spacing: 0px;
  box-shadow: 0 0 20px rgb(156, 155, 155);
  border-collapse: separate !important;
  border-radius: 10px;
  margin-top: 2%;
  overflow: hidden;
}
.methods-table {
  max-width: fit-content;
}
.options-table {
  max-width: fit-content;
}
th {
  border-bottom: solid 1px rgb(140, 145, 150);
  padding: 10px 10px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.1rem;
  text-transform: uppercase;
  color: #5d6d7e;
}
.first-column {
  padding-left: 30px;
  padding-right: 30px;
}
.second-column {
  padding-left: 30px;
  padding-right: 30px;
}
.third-column {
  padding-left: 30px;
  padding-right: 30px;
}
.fourth-column {
  padding-left: 30px;
  padding-right: 30px;
}
td {
  color: #566573;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: solid 1px #f0f3f4;
  white-space: nowrap;
  font-weight: 300;
}
th {
  padding: 1rem 1rem;
}
thead {
  background: #f4f6f7;
  color: black;
  border-bottom: solid 2px #ecf0f1;
}
thead th:first-child {
  border-radius: 10px 0px 0px 0px;
}
thead th:last-child {
  border-radius: 0px 10px 0px 0px;
}

/* CODE */
pre {
  font-size: 16px;
  background-color: rgba(214, 213, 213, 0.295);
  border-radius: 6px;
  line-height: 1.4;
  padding: 15px;
  margin: 10px;
  max-width: 90%;
  min-width: 400px;
  font-family: Andale Mono, AndaleMono, Lucida Console, monospace;
}

.example-typewriter-wrapper {
  border: solid 1px grey;
  padding: 1rem;
  border-radius: 10px;
  min-height: max-content;
}

/* CUSTOM TYPEWRITER WITH BOLD, COLOR, AND HIGHLIGHT */
.custom-typewriter-text {
  color: rgb(46, 46, 206);
}

/* CUSTOM TYPEWRITER WITH CUSTOM COLOR CURSOR */
#custom-cursor-typewriter:after {
  border-right: 4px solid rgb(99, 238, 99);
}

.documentation-example-single-wrapper {
  margin-bottom: 3rem;
}
