body {
  margin: 5% 8% 5% 10%;
  font-family: "PT Mono", monospace;
}

.typewriter {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  padding: 3%;
  border: solid 1px black;
  border-radius: 10px;
}

/* .typewriter-1 {
  height: 2%;
}
.typewriter-2 {
  min-height: 40%;
}
.typewriter-3 {
}
.typewriter-4 {
}
.typewriter-5 {
} */
