body {
  margin: 10%;
  font-family: "PT Mono", monospace;
}

.typewriter {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  height: 20%;
  padding: 5%;
  border: solid 1px black;
  border-radius: 10px;
}
